<html>
<h1>Album List</h1>
<a href="{% url 'album_new' %}">New</a>
{% if all_album %}
    <ul>
        {% for album in all_album %}
            <li><a href="{% url 'detail' album.id %}">{{ album.artist }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'album_edit' album.id %}">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Edit
            </button>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'album_delete' album.id %}">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Delete
            </button>
            </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You don't have any album list</h3>
{% endif %}
</html>
