{% load staticfiles %}
<link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}"/>
<html>
<img src ="http://www.doublesdesign.com/soosoo/images/portfolio-logo-album.jpg" width="100" height="100"/>
<h3>New Album:</h3>
<form method="post" class="form-horizontal container" role="form">
	{% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
    or
    <b><a href="{% url 'album_list' %}" class="btn btn-primary">Cancel</a></b>
</form>
</html>